# IDE
/.idea

## source: https://github.com/github/gitignore/blob/010b77ba772d5e99185701aba47d0de681a87e1c/C.gitignore

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

## end github source
/.cache
compile_commands.json
/.vagrant
/Vagrantfile
__pycache__
*.pc
/config.mak
/imgread
/profile
/resdet
/stat
/test_libresdet
/test/lib/tests_main.c
libresdet.mjs
libresdet.wasm
.testvenv
