*.o
*.a
*.d
*.dll
*.so
*.so.*
*.dylib
*.exe
*.dSYM/
*.pc
*.d.mts

compile_commands.json
__pycache__

/.cache
/.vagrant
/Vagrantfile
/config.mak
/imgread
/profile
/resdet
/stat
/test_libresdet
/test/lib/tests_main.c
/.testvenv
/bindings/emscripten/libresdet.mjs
/bindings/emscripten/libresdet.wasm
/bindings/emscripten/node_modules
/test/bindings/emscripten/node_modules
